---
layout: home
title: Home
landing-title: '#TeamDisco'
---

<div class="gap center">
	<img src="/assets/images/bot.svg" class="big" />
	<h1>TeamDisco</h1>
</div>

<div class="center">
  <img src="/assets/images/more-are-coming.jpg"  />
  <p>So very under construction...</p>
</div>

<div id="home">
  <!-- This loops through the paginated posts -->
{% for post in paginator.posts reversed %}
  <a href="{{ post.url }}">
  	<h1>{{ post.title }}</h1>
  	<img src="{{post.image}}" class="post" />
  </a>
{% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>