html {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

main {
	background: white;
	margin: 6em 0 4em 0;
	color: #333;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5;
	width: 100%;
	max-width: 900px;
	margin: auto;
	text-align: left;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	width: 100%;
	z-index: 9999;
	background: #333;
	text-size: 1.25em;
	padding: 1em 0 1em 0;
	margin-bottom: 60px;
	text-align: center;
}

nav .left {
	font-weight: 700;
	color: white;
	float: left;
	margin-left: 2em;
	text-decoration: none;
}

nav .right {
	font-weight: 300;
	color: #999;
	float: right;
	margin-right: 2em;
}

nav .right a {
	padding-left: .5em;
	text-decoration: none;
}

nav .left a {
	text-decoration: none;
	color: white;
}

nav a.current {
	color: white;
}

img.big {
	width: 200px;
}

p, ul3 {
	margin-top: 1em;
	margin-bottom: 1em;
}

b {
	color: #333;
}

a {
	color: #999;
	font-weight: 300;
}

a:active {
	outline: none;
}

ul {
	padding-left: 3em;
}

ul li {
	padding-bottom: 0.5em;
}

h1 {
	font-weight: 300;
	font-size: 2em;
	line-height: 1.25;
}

h2 {
	font-weight: 600;
	font-size: 1em;
	margin-top: 2em;
	margin-bottom: 0;
}

p.description {
	font-style: italic;
	color: #999;
	font-weight: 300;
}



article {
	margin-top: 1em;
	margin-bottom: 1em;
	clear: left;
}

article img {
	width: 3em;
	height: 3em;
	border-radius: 50px;
	float: left;
	margin-right: 1em;
	margin-bottom: 2em;
}

img.contact {
	width: 100px;
	height: 100px;
}


blockquote {
	font-style: italic;
	text-align: center;
	margin: 0 0 2em 0;
	font-size: 0.8em;
}

img.circle {
	width: 200px;
	border-radius: 100px;
}

img.post {
	max-width: 100%;
	width: 100%;
}

div.center {
	text-align: center;	
}

div.gap {
	margin-top: 120px;
}

div.space {
  margin-top: 60px;
}

footer {
	text-align: center;
	font-size: .5em;
	color: #333;
}

@media only screen and (max-width:550px) {
	html {
		font-size: 14px;
	}
	nav {
		padding: 0.5em 0.25em 0.5em 0.25em;
	}
}