<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{site.name}}</title>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600"
	rel="stylesheet" type="text/css">
<link href="/assets/style.css" rel="stylesheet" type="text/css" />
<meta property="og:title" content="{{ page.title }} | #TeamDisco">
<meta property="og:locale" content="en_GB">
<meta name="description" content="{{ page.title }}">
<meta property="og:description" content="{{ page.title }}">
<link rel="canonical" href="{{ page.url }}">
<meta property="og:url" content="https://teamdisco.dev/{{ page.url }}">
<meta property="og:site_name" content="#TeamDisco">
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{ page.title }}">
<meta name="twitter:site" content="@risk_first">
<meta name="twitter:creator" content="{{ author.twitter }} n">

<meta property="twitter:image" content="https://teamdisco.dev/{{ page.image }}">
<meta property="og:image" content="https://teamdisco.dev/{{ page.image }}">


</head>


<!-- Begin Menu Navigation
================================================== -->
<nav>
	<div class="left"><a href="/">#teamdisco</a></div>
	<div class="right">
	
		{% for post in site.pages  %} 
		 	{% if (post.nav-menu) %}
			 	{% if (page.url == post.url) %}
		        <a href="{{ site.baseurl }}{{ post.url }}" class="current">
	            	{{ post.title }}   
				</a>		 	
			 	{% else %}
		        <a href="{{ site.baseurl }}{{ post.url }}" >
	            	{{ post.title }}   
		        </a>
	       		{% endif %}
       		{% endif %}
		{% endfor %}
	</div>
</nav>

<main>
{{ content }}
</main>

<footer>Copyright © {{ site.time | date: "%Y" }} Rob Moffat / Elise Beudet</footer>

</body>
</html>
